/*style="width:100px;height:170px;float: left">*/
.TwoColumns > section > div:first-child {
    width: 100px;
    height: 170px;
}
.TwoColumns > section:nth-child(odd) > div:first-child {
    float: left;    
}
.TwoColumns > section:nth-child(odd) > div:last-child {
    margin-left: 120px;
}
.TwoColumns > section:nth-child(even) > div:first-child {
    float: right;    
}
.TwoColumns > section:nth-child(even) > div:last-child {
    margin-right: 120px;
}
.TwoColumns img {
    width: inherit;
    height: inherit;
}
