/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-janv.-2016, 21:07:45
    Author     : 1009qugeorge
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;




}

li {
    float: left;


}

li a {
    background-color: coral;
    /*float: left ;*/
    width: 175px ;
    display: block ;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid white ;
    font: 1em "Tahoma" Arial,sans-serif ;
}

li a:hover {
    background-color: #111;
}